<section class="announcement">
    <div class="container mx-auto flex items-center">
        <h1 class="font-bold text-2xl py-4">Announcements</h1>
    </div>

    <!-- <div class="container mx-auto flex items-left">
        <h2 class="font-bold">[NOTICE] Shipping delay due to a strike in Jeonbuk area in Jeollabuk-do Province, in the Republic of Korea</h2>
    </div> -->

    <div class="container mx-auto flex items-left">
        <h2 class="font-bold"><%= announcement.title %></h2>
    </div>

    <div class="container mx-auto flex items-left">
        <h6 class="text-gray-500"><%= moment(announcement.createdAt, 'DD/MM/YYYY').format('LL') %></h2>
    </div>

    <div class="container mx-auto flex items-left py-4">
        <span>
            <!-- Hello from Weverse Shop,
            the official merch store.
            
            Kindly note that if you are placing an order to be delivered to the following locations, your shipment may be delayed or stopped due to the ongoing strike.
            
            [Locations affected by the ongoing strike]<br>
            - Iksan, Jeungeup, Wanju in Jeollabuk-do Province, in the Republic of Korea
            
            We will do our best to ship out your orders as fast as possible.<br>
            Thank you for your patience.
            
            All things for Fans, Weverse Shop. -->
            <%- announcement.content.replace(/\n/g, '<br/>') %>
        </span>
        <!-- <span>
            <pr>
                <%= announcement.content %>
            </pr>
        </span> -->
    </div>
</section>