<section class="product container mx-auto py-8">
    <form id="submit-form" action="/addproduct" method="POST"></form>
    <form id="add-form" action="" method="POST"></form>
        <div class="mb-2">
            <input 
                name="name"
                class="appearance-none w-full py-2 text-gray-700 text-xl leading-tight" 
                id="name" type="text" placeholder="Product Name">
        </div>

        <!-- <hr class="solid"> -->

        <div class="mb-2">
            <input 
                name="image"
                class="appearance-none w-full py-2 text-gray-700 text-xl leading-tight" 
                id="image" type="text" placeholder="Image Name">
        </div>

        <div class="mb-2">
            <input 
                name="price"
                class="appearance-none w-full py-2 text-gray-700 text-xl leading-tight" 
                id="price" type="text" placeholder="Price">
        </div>

        <!-- <hr class="solid"> -->

        <div class="mb-2">
            <input 
                name="description"
                class="appearance-none w-full py-2 text-gray-700 text-xl leading-tight" 
                id="description" type="text" placeholder="Description Image Name">
        </div>
        
        <div class="mb-2">
            <textarea
                name="information"
                class="appearance-non w-full py-2 text-gray-700 text-xl leading leading-tight"
                placeholder="Information"
                cols="20" rows="1"></textarea>
        </div>

        <div class="mb-4 mx-auto flex items-center">
            <button 
                form="submit-form"
                class="btn-primary rounded-full text-white font-bold py-2 px-4" 
                type="submit">
                Add
            </button>
        </div>
</section>