<section class = "announcement container mx-auto py-8">
    <!-- <div class="container mx-auto flex items-center">
        <h1 class="font-bold text-2xl py-4">Update Announcements</h1>
    </div> -->

    <div class="mb-4">
        <input 
            name="title"
            class="appearance-none w-full py-2 text-gray-700 text-5xl leading-tight" 
            id="username" type="text" placeholder="Title">
    </div>

    <div class="multiline">
        <ejs-textbox [multiline]='true' floatLabelType='Auto' placeholder='Enter your address' ></ejs-textbox>
       </div>

    <div class="mb-4">
        <div class="multiline">
        <ejs-textbox [multiline]='true' floatLabelType='Auto' placeholder='Enter your address' ></ejs-textbox>
        </div>
        <!-- <input 
            name="content"
            class="appearance-none w-full py-2 px-2 text-gray-700 text-xl leading-tight" 
            id="username" type="multiline" placeholder="Content"> -->
    </div>
</section>